*.pyc
__pycache__
.tox
MANIFEST
*.egg-info

# pytest cache
.cache
.pytest_cache

# created by release process
dist/
build/

# created by running tests
env/
cockroach-data/
cockroach.pid

# local test configuration
test.cfg
