backports-tarfile==1.2.0
    # via jaraco-context
cachetools==7.1.7
    # via tox
certifi==2026.7.22
    # via requests
cffi==2.1.1
    # via cryptography
chardet==7.6.0
    # via tox
charset-normalizer==3.5.1
    # via requests
colorama==0.4.6
    # via tox
cryptography==50.0.0
    # via secretstorage
distlib==0.4.3
    # via virtualenv
docutils==0.23
    # via readme-renderer
filelock==3.32.3
    # via
    #   python-discovery
    #   tox
    #   virtualenv
id==1.6.1
    # via twine
idna==3.19
    # via requests
importlib-metadata==9.0.0
    # via keyring
jaraco-classes==3.4.0
    # via keyring
jaraco-context==6.1.2
    # via keyring
jaraco-functools==4.6.0
    # via keyring
jeepney==0.9.0
    # via
    #   keyring
    #   secretstorage
keyring==25.7.0
    # via twine
markdown-it-py==4.2.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
more-itertools==11.1.0
    # via
    #   jaraco-classes
    #   jaraco-functools
nh3==0.3.6
    # via readme-renderer
packaging==26.3
    # via
    #   pyproject-api
    #   tox
    #   twine
platformdirs==4.11.3
    # via
    #   tox
    #   virtualenv
pluggy==1.6.0
    # via tox
pycparser==3.0
    # via cffi
pygments==2.21.0
    # via
    #   readme-renderer
    #   rich
pyproject-api==1.11.0
    # via tox
python-discovery==1.5.2
    # via virtualenv
readme-renderer==45.0
    # via twine
requests==2.34.2
    # via
    #   requests-toolbelt
    #   twine
requests-toolbelt==1.0.0
    # via twine
rfc3986==2.0.0
    # via twine
rich==15.0.0
    # via twine
secretstorage==3.5.0
    # via keyring
tomli==2.4.1
    # via
    #   pyproject-api
    #   tox
tox==4.34.1
    # via -r dev-requirements.in
twine==7.0.0
    # via -r dev-requirements.in
typing-extensions==4.16.0
    # via
    #   cryptography
    #   tox
    #   virtualenv
urllib3==2.7.0
    # via
    #   id
    #   requests
    #   twine
virtualenv==21.7.4
    # via tox
zipp==4.1.0
    # via importlib-metadata
