backports-tarfile==1.2.0
    # via jaraco-context
certifi==2025.8.3
    # via requests
cffi==1.17.1
    # via cryptography
charset-normalizer==3.4.3
    # via requests
cryptography==45.0.7
    # via secretstorage
distlib==0.4.0
    # via virtualenv
docutils==0.22
    # via readme-renderer
filelock==3.19.1
    # via
    #   tox
    #   virtualenv
id==1.5.0
    # via twine
idna==3.10
    # via requests
importlib-metadata==8.7.0
    # via
    #   keyring
    #   twine
jaraco-classes==3.4.0
    # via keyring
jaraco-context==6.0.1
    # via keyring
jaraco-functools==4.3.0
    # via keyring
jeepney==0.9.0
    # via
    #   keyring
    #   secretstorage
keyring==25.6.0
    # via twine
markdown-it-py==3.0.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
more-itertools==10.7.0
    # via
    #   jaraco-classes
    #   jaraco-functools
nh3==0.3.0
    # via readme-renderer
packaging==25.0
    # via
    #   tox
    #   twine
platformdirs==4.4.0
    # via virtualenv
pluggy==1.6.0
    # via tox
py==1.11.0
    # via tox
pycparser==2.22
    # via cffi
pygments==2.19.2
    # via
    #   readme-renderer
    #   rich
readme-renderer==44.0
    # via twine
requests==2.32.5
    # via
    #   id
    #   requests-toolbelt
    #   twine
requests-toolbelt==1.0.0
    # via twine
rfc3986==2.0.0
    # via twine
rich==14.1.0
    # via twine
secretstorage==3.3.3
    # via keyring
six==1.17.0
    # via tox
toml==0.10.2
    # via tox
tox==3.23.1
    # via -r dev-requirements.in
twine==6.1.0
    # via -r dev-requirements.in
typing-extensions==4.15.0
    # via virtualenv
urllib3==2.5.0
    # via
    #   requests
    #   twine
virtualenv==20.34.0
    # via tox
zipp==3.23.0
    # via importlib-metadata
