# Packages used by the Makefile and other scripts.
#
# To add/update dependencies, update dev-requirements.txt.in (not the
# generated dev-requirements.txt), run make update-requirements,
# then re-run bootstrap.sh.

flake8
tox

# Twine is used in the release process to upload the package.
twine
