# Packages used when running tests. Installed by tox into multiple
# virtualenvs.
#
# To add/update dependencies, update test-requirements.txt.in (not the
# generated test-requirements.txt) and run make update-requirements

SQLAlchemy==1.2.10
mock==2.0.0
pytest==3.7.1
futures==3.1.1
## The following requirements were added by pip freeze:
atomicwrites==1.1.5
attrs==18.1.0
more-itertools==4.3.0
pbr==4.2.0
pluggy==0.7.1
py==1.5.4
six==1.11.0
