# Packages used when running tests. Installed by tox into multiple
# virtualenvs.
#
# To add/update dependencies, update test-requirements.in (not the
# generated test-requirements.txt) and run make update-requirements

alembic
asyncpg
futures
mock
more-itertools
psycopg2
pytest==7.1.3
sqlalchemy>=2.0.0
