# Packages used when running tests. Installed by tox into multiple
# virtualenvs.
#
# To add/update dependencies, update test-requirements.txt.in (not the
# generated test-requirements.txt) and run make update-requirements

SQLAlchemy==1.2.10 # the last known version of SQLAlchemy that passes all tests.
more-itertools
mock
pytest==3.7.1
futures
psycopg2
