alembic==1.9.2
    # via -r test-requirements.in
asyncpg==0.24.0
    # via -r test-requirements.in
attrs==21.2.0
    # via pytest
futures==3.1.1
    # via -r test-requirements.in
greenlet==1.1.0
    # via sqlalchemy
iniconfig==1.1.1
    # via pytest
mako==1.1.4
    # via alembic
markupsafe==2.0.1
    # via mako
mock==4.0.3
    # via -r test-requirements.in
more-itertools==8.8.0
    # via -r test-requirements.in
packaging==20.9
    # via pytest
pluggy==0.13.1
    # via pytest
psycopg2==2.9.1
    # via -r test-requirements.in
py==1.10.0
    # via pytest
pyparsing==2.4.7
    # via packaging
pytest==6.2.4
    # via -r test-requirements.in
sqlalchemy==2.0.0b1
    # via
    #   -r test-requirements.in
    #   alembic
toml==0.10.2
    # via pytest
