# Packages used when running tests. Installed by tox into multiple
# virtualenvs.
#
# To add/update dependencies, update test-requirements.in (not the
# generated test-requirements.txt) and run make update-requirements

alembic
asyncpg
futures
mock
more-itertools
psycopg
psycopg2
pytest
sqlalchemy @ git+https://github.com/Pedrexus/sqlalchemy.git@1bbe0d64d6017b346a5e6f7bf784ba7a3294662f
