alembic==1.13.3
    # via -r test-requirements.in
async-timeout==4.0.3
    # via asyncpg
asyncpg==0.29.0
    # via -r test-requirements.in
attrs==24.2.0
    # via pytest
futures==3.0.5
    # via -r test-requirements.in
greenlet==3.1.1
    # via sqlalchemy
iniconfig==2.0.0
    # via pytest
mako==1.3.5
    # via alembic
markupsafe==3.0.1
    # via mako
mock==5.1.0
    # via -r test-requirements.in
more-itertools==10.5.0
    # via -r test-requirements.in
packaging==24.1
    # via pytest
pluggy==1.5.0
    # via pytest
psycopg==3.2.3
    # via -r test-requirements.in
psycopg2==2.9.9
    # via -r test-requirements.in
py==1.11.0
    # via pytest
pytest==7.1.3
    # via -r test-requirements.in
sqlalchemy==2.0.36
    # via
    #   -r test-requirements.in
    #   alembic
tomli==2.0.2
    # via pytest
typing-extensions==4.12.2
    # via
    #   alembic
    #   psycopg
    #   sqlalchemy
